/* Importer 3 polices (dans le fichier CSS => importation unique)
  - Logo et titres: Shrikhand
  - Texte: Roboto
  - Picto : font-awesome
*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

/* Déclaration des variables -----------------------------------------------------------------  */
:root {
  /* Couleurs (de la charte) ------------------------------------------------------------------ */
  --couleur_violet: #9356DC;  --couleur_violet_clair:#f6ebff;
  --couleur_rose: #FF79DA;
  --couleur_vert: #99E2D0;

  /* couleurs (implicites de la charte) : Noir, Blanc, Gris */
  --couleur_noir: #000000;
  --couleur_blanc: #FFFFFF;
  --couleur_gris: #F2F2F2; --couleur_gris_fonce :#d9d9d9;
}


body {
  font-family: "roboto", sans-serif;
}

/* Header ------------------------------------------------------------------------------------ */

/* index.html */
/* Placer son enfant (i.e l'image) sur une ligne */
.header-index {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  margin-top: 30px;
}

/* (index.html)
/*  - Placer ses enfants (i.e. picto "localisation" & <p> ) en Ligne 
    - les centrer
    - tailler sa hauteur sur 50px
    - mettre le fond en gris
    - placer 1 bordure top Gris
*/  
.div__localisation-restaurants {
  display: flex; flex-direction: row;
  justify-content: center;
  align-items: center;
  
  height: 50px; /* 110px - 60px */

  border-top: 5px solid var(--couleur_gris) ;
  background-color: var(--couleur_gris_fonce);
  margin-top: 10px; margin-bottom:-10px; padding-bottom:10px;
}

/* (index.html) <section> "Présentation" ------------------------------------------------------------------------------------------------------------------ */
/* Pour la section "Présentation" :
    - placer ses enfants (i.e <h2>, <p> & <button>) en colonne & les centrer
    - tailler sa hauteur (290px)
    - mettre le fond en gris
    - poser les marges internes
*/ 
.c_section-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 290px; /* 400px - 110px */
  padding-left: 20px; padding-right: 20px; padding-bottom: 50px;
  background-color: var(--couleur_gris);
  margin-top:0;
}

.c_section-presentation h2 {  
  margin: 50px 65px 0px 50px; /* H G B D */ /* H: 160px - 110px ; G: 65px  ; D (375px - 345px) */
}

/* <button> "Explorer" ou "Commander" ------------------------------------------------------------------------ */
/* (index.html & les pages html concernant les menus) Boutton "Explorer nos restaurants" ou "Commander" */
/*
Pour le bouton "Explorer" ou "Commander" :
  - mettre le fond en rose
  - mettre le texte en blanc
  - mettre un arrondi
  - oter la bordure
  - tailler la Police
  - mettre le curseur en "main"
*/
.c_button-explorer-ou-commander {
  margin-top: 20px; 
  background: var(--couleur_rose);
  color: var(--couleur_blanc);

  box-shadow: 10px 10px 20px var(--couleur_gris_fonce);
  /* décalage x (de l'ombre); décalage y (de l'ombre); épaisseur de l'ombre */

  padding: 20px 50px; /* vertical (1357px - 1337px) ; horizontal (280px - 230px) */
  border-radius: 80px;
  border: none; 
  
  font-size: 16px;
  cursor: pointer; 
}

/* Au survol de la souris: 
  - mettre le fond Violet 
  - mettre une ombre Grise
*/  
.c_button-explorer-ou-commander:hover {  
  background: var(--couleur_violet);
  box-shadow: 20px 20px 20px var(--couleur_gris);
}

/* Fin <button> "Explorer" ou "Commander" ------------------------------------------------------------------------------ */





/* <footer> -------------------------------------------------------------------------------------------------------------------------- */

/* Pour le <footer> :
  - mettre le fond en noir
  - mettre les 2 pictos en blanc
*/
footer {
  background-color: var(--couleur_noir);
  color:var(--couleur_blanc);
  width: 100%;
  padding: 20px 0 20px 0; /* haut ; droit ; bas ; gauche */
}

footer h2 {
  color: var(--couleur_blanc);
  font-style: italic;
  margin-left: 30px; margin-top: 10px;
}

/* Pour le <ul> du footer : 
  - oter les puces
  - oter la marge interne gauche
  - poser une marge externe gauche de 15px 
*/
footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 15px;
}

/* Pour chaque <li> :
  - poser une marge interne gauche de 15px
  - espacer les éléments sur la verticale 
*/
footer ul li {
  margin-left: 15px;
  line-height: 20px;
}

/* Pour chaque <a> : 
  - oter la décoration (i.e soulignement)
  - mettre en blanc
*/
footer ul a {
  text-decoration: none;
  color: var(--couleur-blanc);
}

/* .c_footer__a-restaurant { */
/* Pour le <a> du 1er <li> : poser une marge externe gauche de 15px
*/
footer li:nth-child(1) a {  
  margin-left: 15px;
}

/* .c_footer__a-partenaire { */
/* Pour le <a> du 2eme <li> : poser une marge externe gauche de 8px
*/
footer li:nth-child(2) a {

  margin-left: 8px;
}

/* Pour la balise <address> "Nous contacter" : passage d'italic (par défaut) à normal */
footer address {
  font-style: normal;
}
/* fin du <footer> --------------------------------------------------------------------------------------------------------------------------- */
