/* Importer 3 polices (dans le fichier CSS => importation unique)
  - Picto : font-awesome
  - Logo et titres: Shrikhand
  - Texte: Roboto
*/
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap"); */


/* Déclaration des variables -----------------------------------------------------------------  */
:root {
  /* Couleurs (de la charte) ------------------------------ */
  /* initialement violet */
  --couleur_primaire: #9356DC;
  /* initialement rose */
  --couleur_secondaire: #FF79DA;
  /* initialement vert */
  --couleur_tertiaire: #99E2D0;

  /* couleurs (implicites de la charte) : Blanc, Noir, Gris */

  /* MEN0909 debut */
  /* Les valeurs de couleurs sont obtenues via le logiciel "Inkscape" Fonction "Capturer des couleurs depuis l'image" 
  NB: Les valeurs sont: # suivi de 6 caractères Hexadécimaux ; pas usage de fonction eg. RGB() pour éviter le coût d'un appel de fonction)
  */
  /* Couleurs de FOND ----------------------- */
  /* initialement blanc */
  --couleur_fond_primaire: #FFFFFF;
  /* initialement gris */
  --couleur_fond_secondaire: #F6F6F6;
  /* initialement noir */
  --couleur_fond_tertiaire: #000000;

  /* Couleurs de TEXTE ----------------------- */
  /* initialement Noir */
  --couleur_texte_primaire: #000000;
  /* initialement Blanc */
  --couleur_texte_secondaire: #FFFFFF;
  /* initialement Gris sombre */
  --couleur_texte_tertiaire: #A6A6A6;

  /* MEN0909 fin */

  --section-restaurants_marge: 15px;
}

/* --------------------------------------------------------------------------------------------- */
/* ------ MOBILE FIRST ------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */


/* Pour toutes les images: 
    adapter ses dimensions à son conteneur (couvrir la totalité du conteneur en gardant les proportions de l'image) 
*/
img {
  object-fit: cover;
  /* border-top: 3px solid yellow; */
}

/* Mettre le Texte dans la police "roboto" */
body {
  font-family: "roboto", sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------- (page d'accueil index.html) ------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* Header -------------------------------------------------------------------------------------------- */
/* NB: Header commun à toutes les pages SAUF: ajout du Picto "flèche gauche" pour les 4 pages de menu  */

/* Concernant le <header> :
 - mettre son enfant (i.e le <h1> Logo) en Ligne & le centrer
 - tailler sa largeur & sa hauteur
 - poser une marge interne Haute & Bas de 10px
 - poser une position "relative" pour placer son enfant (i.e le <a> (du <header>) représenté par le Picto "flèche gauche")
*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;

  /* MEN0909 */
  /* margin-top: 20px; */
  /* 25px; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* MEN0909 fin */
  position: relative;
}

/* Pour le <a> (du <header>) (représenté par le Picto "flèche gauche"):
  - tailler le Picto
  - le mettre en Noir
  - poser un "position: absolute" en rapport à son Père (i.e le <header>)
  - le décaler à gauche (soit à 0px de la marge gauche) & le décaler en bas de 20px, par rapport à son Père (i.e le <header>)
  - poser une marge externe Gauche de 25px
*/
header a {
  font-size: 26px;
  /* MEN0909 */
  color: var(--couleur_texte_primaire);
  position: absolute;
  left: 0;
  bottom: 15px;
  /* 20px; */
  /* MEN0909 */
  margin-left: 25px;
}

/* Concernant le Logo: mettre le <h1> (du <header>) & le <h2> (du <footer>) avec la font Shrikhand */
header h1,
footer h2 {
  font-family: "Shrikhand", sans-serif;
}

/* fin <header> --------------------------------------------------------------------------------------- */


/* (index.html) <div> Localisation des restaurants ---------------------------------------------------- */
/*  - Placer ses enfants (i.e. picto "localisation" & <p> ) en Ligne 
    - les centrer
    - tailler sa hauteur sur 50px
    - mettre le fond en gris foncé
    - placer 1 bordure top Gris encore plus foncé
    - mettre en gras
*/
.div__localisation-restaurants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 50px;
  /* 110px - 60px */

  background-color: #eaeaea;
  border-top: 4px solid #d8d8d8;
  margin-top: 0;
  margin-bottom: -10px;
  padding-bottom: 10px;
  font-weight: bold;
}

/* Pour le picto "localisation":
  - poser une marge externe Gauche de -40px (pour l'aligner par rapport au titre <h1>ohmyfood
  - poser une marge interne Droite de 20px
  - poser une marge interne Bas de 5px
*/
.div__localisation-restaurants .fa-map-marker-alt {
  margin-left: -40px;
  padding-right: 15px;
  padding-bottom: 5px;
}

/* (index.html) <section> "Présentation" ------------------------------------------------------------------ */
/* Pour la section "Présentation" :
    - placer ses enfants (i.e <h2>, <p> & <button>) en colonne & les centrer
    - tailler sa hauteur (290px)
    - mettre le fond en gris
    - poser les marges internes
*/
.c_section-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 290px;
  /* 400px - 110px */
  padding-left: 20px;
  padding-right: 20px;
  /* MEN0909_debut */
  /* padding-bottom: 50px; */
  padding-bottom: 10px;
  /* MEN0909_fin */

  background-color: var(--couleur_fond_secondaire);
  margin-top: 0;
}

/* Pour le <h2>: poser les marges externes */
.c_section-presentation h2 {
  margin: 50px 65px 0px 50px;
  /* H G B D */
  /* H: 160px - 110px ; G: 65px  ; D (375px - 345px) */
}

/* Pour le <p> : mettre le texte en Gris sombre */
.c_section-presentation p {
  color: var(--couleur_texte_tertiaire);
}


/* <button> "Explorer" ou "Commander" ------------------------------------------------------------------------ */
/* (index.html & les pages html des menus) Boutton "Explorer nos restaurants" ou "Commander" */
/*
Pour le bouton "Explorer" ou "Commander":
  - mettre le fond en dégradé (de Violet vers Rose)
  - mettre le texte en blanc
  - mettre une ombre grise
  - mettre 4 arrondis
  - oter la bordure
  - tailler la Police
  - mettre le curseur en "main"
*/
.c_button-explorer-ou-commander {
  margin-top: 20px;

  /* Un dégradé (commençant en bas à droite et) allant jusqu'au coin gauche supérieur,
   commençant en --couleur_primaire et finissant en --couleur_secondaire. */
  background: linear-gradient(to left top, var(--couleur_primaire), var(--couleur_secondaire));

  color: var(--couleur_texte_secondaire);

  box-shadow: 10px 10px 20px #C7C7C7;
  /* décalage x (de l'ombre); décalage y (de l'ombre); épaisseur de l'ombre */

  border-radius: 80px;
  border: none;
  font-size: 16px;
  cursor: pointer;

  /* MEN0909_debut */
  /* padding: 20px 50px; */
  padding: 20px 20px;
  /* vertical | horizontal */
  /* MEN0909_fin */
  /* vertical (1357px - 1337px) ; horizontal (280px - 230px) */
}

/*
Au survol du bouton "Explorer ou Commander" :
  - la couleur de fond doit légèrement s’éclaircir (<=> choisir 1 teinte + claire pour le Violet & le Rose du "linear-gradient")
  - l’ombre portée doit être plus visible (<=> choisir 1 teinte + foncée pour le "box-shadow")
NB: Le choix de la teinte + claire ou + foncée a été effectué via https://www.colorhexa.com/
*/
.c_button-explorer-ou-commander:hover {
  background: linear-gradient(to left top, #AE80E5, #FF76EF);
  box-shadow: 10px 10px 20px #A1A1A1;
}

/* Fin <button> "Explorer" ou "Commander" ------------------------------------------------------------------------------ */

/* (index.html) <section> "Fonctionnement" ---------------------------------------------------------------------------- */

/* placer la <section>:
  - marge externe Haute de 55px
  - marge externe Bas de 65px
*/
.c_section-fonctionnement {
  margin: 55px 0 65px 0;
  /* H  D B  G */
  /* H (455px - 400px)  B (840px - 775px) */
}

/* Placer le <h2> avec une marge gauche de 15px */
.c_section-fonctionnement h2 {
  margin-left: var(--section-restaurants_marge);
  /* 15px; */
}

/* Pour le <ol> : 
  - placer ses enfants (i.e <li>) en colonne
  - oter la marge interne gauche
*/
.c_section-fonctionnement ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: space-around;
  /* background : green; */

  padding-left: 0;

  height: 290px;
  padding-left: 0px;
  list-style: none;

}

/* Pour chaque <li> :
  - placer ses enfants (i.e Picto & libellé) en ligne & les centrer par rapport à l'axe vertical
  - mettre le fond gris
  - mettre les arrondis
  - mettre une ombre grise
  - tailler sa largeur & sa hauteur
  - incrementer le <li>
*/
.c_section-fonctionnement ol li {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  justify-content: left;
  /* gap: 10px; */
  align-items: center;

  background: var(--couleur_fond_secondaire);
  border-radius: 20px;

  /* MEN0909_debut : la capsule a une ombre */
  box-shadow: 5px 5px 10px #E8E8E8;
  /* décalage x (de l'ombre); décalage y (de l'ombre); épaisseur de l'ombre */
  /* MEN0909_fin */

  width: 91%;
  height: 80px;
  /* 70px; */
  /* 770px - 700px */
  counter-increment: li;

  margin-left: 0px;
}

.c_section-fonctionnement__span-choisissez {
  /* color: red; background-color: pink; */
  margin-right: -100px;
  margin-left: 0;
}

.c_section-fonctionnement__span-composez {
  margin-right: -85px;
  margin-left: 0;
}

.c_section-fonctionnement__span-degustez {
  margin-right: -88px;
  margin-left: 0;
}

/* Sur chaque <li>, au survol de la souris: mettre le fond violet clair
*/
.c_section-fonctionnement ol li:hover {
  background: #f6ebff;
}

/* Pour chaque Picto:
  - mettre 1 marge interne Gauche & Droite à resp. 15px & 10px
  - mettre le texte en Gris
  - tailler le Picto
*/
.c_section-fonctionnement ol li .fa-tablet-alt,
.c_section-fonctionnement ol li .fa-list-ul,
.c_section-fonctionnement ol li .fa-store {
  padding-left: 15px;
  padding-right: 11px;
  /* MEN0909_debut : L'icône doit être grise et avoir la bonne taille */
  color: var(--couleur_texte_tertiaire);
  font-size: 19px;
  /* width: 5px; */
  /* MEN0909_fin */
  /* background-color: red; */
}

.ZZc_section-fonctionnement ol li .fa-tablet-alt {
  padding-left: 15px;
  margin-right: 10px;
  background-color: red;
}

.ZZc_section-fonctionnement__span-choisissez {
  background-color: green;
}

.ZZc_section-fonctionnement ol li .fa-list-ul {
  padding-left: 10px;
}

.ZZc_section-fonctionnement__span-composez {
  margin-left: -12px;
  display: flex;
  justify-content: right;
  /* margin-left: 30px; margin-rigth:30px; */
  width: 200px;
  margin: auto;
  background-color: pink;
}

/* Sur chaque <li>, au survol de la souris: mettre son Picto en violet */
.c_section-fonctionnement ol li:hover .fa-tablet-alt,
.c_section-fonctionnement ol li:hover .fa-list-ul,
.c_section-fonctionnement ol li:hover .fa-store {
  color: var(--couleur_primaire);
  /* red; TEST */
}

/* Avant le <li> (de <section>), créer du contenu  :
    - le contenu prend la valeur du compteur de <li>
    - faire le cercle de diamètre 20px (cf Projet2)
    - mettre le fond en violet & le numéro en Blanc
    - poser une marge externe gauche de -10px (pour décaler à gauche)
*/
.c_section-fonctionnement ol li:before {
  content: counter(li);
  /* cf. Projet2 remplacement du Picto evaluation */
  display: flex;
  align-items: center;
  justify-content: center;
  /* pour centrer le compteur */
  border-radius: 50%;
  /* cercle */
  /* diametre du cercle (40px - 20px) */

  /* MEN0909_debut : la pastille violet est plus grande et le chiffre légèrement plus petit */
  width: 27px;
  height: 27px;
  font-size: 14px;
  /* MEN0909_fin */

  background-color: var(--couleur_primaire);
  color: var(--couleur_texte_secondaire);

  margin-left: -10px;
}


/* Pour chaque <a> (de <section>) :
    - placer ses enfants (i.e Picto & libellé) en ligne & aux extrémités
    - tailler sa Largeur
    - oter le soulignement
    - mettre le Picto & libellé en noir & en gras
*/
.c_section-fonctionnement ol li a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  /* pour rendre elastic */

  text-decoration: none;
  color: var(--couleur_texte_primaire);
  font-weight: bold;
}

/* (index.html) Fin de <section> "Fonctionnement" ---------------------------------------------------------------------------- */

/* (index.html) <section> "restaurants" -------------------------------------------------------------------------------------- */

/* - placer ses enfants (i.e <Article>) sur 1 colonne aux extrémités 
   - tailler sa largeur
   - mettre le fond Gris
   - mettre 1 marge interne Haut & Bas de 45px
*/
.c_section-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: var(--couleur_fond_secondaire);
  padding-top: 30px;
  padding-bottom: 40px;
}

/* Pour le <h2>: placer une marge externe gauche de 15px */
.c_section-restaurants h2 {
  margin-left: var(--section-restaurants_marge);
}

/* Concernant la section restaurants, pour chaque Article: 
  - mettre ses enfants en colonne (sauf: "Nouveau" & Picto "coeur")
  - tailler sa hauteur
  - poser 4 arrondis
  - poser une ombre noir
  - poser des marges externes à 15px
  - mettre le fond en Blanc
  - poser une position "relative" pour placer ses enfants "Nouveau" &  Picto évaluation ("coeur")
*/
.c_section-restaurants__article {
  display: flex;
  flex-direction: column;
  height: 250px;
  /* 1195px - 945px */
  border-radius: 20px;
  box-shadow: 2px 2px 12px -11px var(--couleur_fond_tertiaire);
  margin: 0 var(--section-restaurants_marge) var(--section-restaurants_marge) var(--section-restaurants_marge);
  /* haut droit bas gauche */

  background-color: var(--couleur_fond_primaire);
  position: relative;
}

/* Pour chaque <a>: 
    - oter le soulignement du lien
    - remplacer le bleu par du noir 
*/
.c_section-restaurants__article a {
  text-decoration: none;
  color: var(--couleur_texte_primaire);
}

/* Pour l'élément "Nouveau": 
  - tailler sa largeur & sa hauteur
  - mettre le fond en vert
  - mettre la couleur du Texte en vert foncé & en Gras
  - poser des marges internes
  - poser 4 arrondis
  - centrer son texte
  - poser un "position: absolute" en rapport à son Père (i.e "c_section-restaurants__article")
  - le placer par rapport à son Père (i.e "c_section-restaurants__article") à 15px à droite & à 15px en haut 
*/
.c_section-restaurants__article__span-nouveau {
  width: 80px;
  /* 345px - 265px */
  height: 30px;
  /* 985px - 955px */
  background-color: var(--couleur_tertiaire);
  color: #259D80;
  font-weight: bold;

  /* MEN0909_debut : l'étiquette nouveau a trop de marge -> bottom */
  /* padding: 5px; */
  /* padding-top: 5px;*/
  padding-bottom: 0;
  line-height: 1.8;
  border-radius: 5px;
  /* MEN0909_fin */
  text-align: center;

  position: absolute;
  /* son Père : Article */
  right: 15px;
  /* 15px à droite par rapport à son Père (i.e Article) */
  top: 15px;
  /* 15px en haut par rapport à son Père (i.e Article) */
}

/* Pour chaque <img>: 
  - tailler sa largeur à 100%
  - tailler sa hauteur
  - poser 2 arrondis en haut 
*/
.c_section-restaurants__article img {
  width: 100%;
  height: 175px;
  /* 1120px - 845px */
  border-radius: 20px 20px 0px 0px;
}

/* Pour la description (i.e <h3> & <p>) :
  - remonter ses enfants
  - poser un décalage gauche
*/
.c_section-restaurants__article__div-description {
  line-height: 5px;
  padding-left: 10px;
}

/* Pour le <p>: mettre en gris sombre */
.c_section-restaurants__article__div-description p {
  color: #303030;
}

/* Pour le Picto évaluation ("coeur") 
    - tailler sa largeur & sa hauteur
    - mettre le curseur en forme de "main"
    - poser un "position: absolute" en rapport à son Père (i.e "c_section-restaurants__article")
    - le placer par rapport à son Père (i.e Article) à 15px à droite & 25px en bas
*/
.c_section-restaurants__article__div-description .c_button-coeur {
  width: 35px;
  height: 35px;
  cursor: pointer;

  position: absolute;
  /* son Père : Article */
  right: 15px;
  /* 15px à droite par rapport à son Père (i.e Article) */
  bottom: 25px;
  /* 25px en Bas par rapport à son Père (i.e Article) */
}

/* (index.html) fin <section> "restaurants" ---------------------------------------------------------------------- */


/* <footer> ------------------------------------------------------------------------------------------------------- */

/* Pour le <footer> :
  - mettre le fond en Gris anthracite
  - mettre les 2 pictos en blanc
*/
footer {
  /* MEN0909_debut: mettre le fond en gris anthracite */
  background-color: #353535;
  /* MEN0909_fin */
  color: var(--couleur_texte_secondaire);
  width: 100%;
  padding: 20px 0 20px 0;
  /* haut ; droit ; bas ; gauche */
}

/* Mettre son Titre en Blanc & en Italic */
footer h2 {
  color: var(--couleur_texte_secondaire);
  font-style: italic;
  margin-left: 30px;
  margin-top: 10px;
}

/* Pour le <ul> du footer : 
  - oter les puces
  - oter la marge interne gauche
  - poser une marge externe gauche de 15px 
*/
footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 15px;
}

/* Pour chaque <li> :
  - poser une marge interne gauche de 15px
  - espacer les éléments sur la verticale 
*/
footer ul li {
  margin-left: 15px;
  line-height: 20px;
}

/* Pour chaque <a> : 
  - oter la décoration (i.e soulignement)
  - mettre en blanc
*/
footer ul a {
  text-decoration: none;
  color: var(--couleur_texte_secondaire);
}

/* .c_footer__a-restaurant { */
/* Pour le <a> du 1er <li> : poser une marge externe gauche de 15px
*/
footer li:nth-child(1) a {
  margin-left: 15px;
}

/* .c_footer__a-partenaire { */
/* Pour le <a> du 2eme <li> : poser une marge externe gauche de 8px
*/
footer li:nth-child(2) a {
  margin-left: 8px;
}

/* Pour la balise <address> "Nous contacter" : passage d'italic (par défaut) à normal */
footer address {
  font-style: normal;
}

/* fin du <footer> --------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------- (4 pages menu) -------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* Concernant la photo du restaurant: 
  - tailler sa largeur
  - tailler sa hauteur
  - poser un "position: absolute" en rapport à son Père (i.e "c_section-menu") avec un top à 60px
*/
.c_img-menu {
  width: 100%;
  height: 250px;
  /* 310px - 60px */
  position: absolute;
  top: 60px;
}

/* <section> "menu" ---------------------------------------------------------------------------------------------- */

/* MEN0909_debut */
/* Pour la <section> "menu": 
  - mettre le <h2> avec la font Shrikhand 
  - oter l'Italique
  - tailler la Font  
*/
.c_section-menu h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-style: normal;
}

/* MEN0909_fin */

/* Pour la <section> "menu": 
    - mettre le fond en gris
    - tailler sa largeur
    - poser 2 arrondis Haut
    - la placer à 220px de Hauteur
    - poser 1 marge interne Bas (de 155px)
    - mettre position: "relative" pour le placement de ses enfants (i.e "c_img-menu" & "c_button-explorer-ou-commander")
*/
.c_section-menu {
  background-color: var(--couleur_fond_secondaire);
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  margin-top: 220px;
  /* 285px - 65px */

  padding-bottom: 155px;
  /* 1445px - 1290px */
  position: relative;
}

/* - placer ses enfants (i.e <h> & Picto "coeur") aux extrémités
  - poser 1 marge interne Haute (de 10px)
  - mettre en Italic & gras
*/
.c_section-menu__div-h-et-picto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin: 25px 35px 15px 20px;
  /* haut | droit | bas | gauche */
  font-style: italic;
  font-weight: bold;
}

/* Concernant les sections "ENTREES", "PLATS", "DESSERTS", pour chaque titre <h3>:
  - poser 1 marge externe Gauche de 20px
  - retirer le Gras
  - mettre une bordure verte de largeur 45px, & au-dessous de 3px
  - mettre la couleur en GRIS sombre
*/
.c_section-entrees h3,
.c_section-plats h3,
.c_section-desserts h3 {
  margin-left: 20px;
  font-weight: normal;
  border-bottom: solid 3px var(--couleur_tertiaire);
  width: 45px;
  /* MEN0909_debut : réduire l'espace entre ENTRÉES et le souligné vert */
  padding-bottom: 3px;
  /* 10px; */
  /* MEN0909_fin */
  color: #8F8F8F;
}

/* Concernant les sections "ENTREES", "PLATS", "DESSERTS", pour chaque <article>: 
  - mettre le fond en Blanc
  - tailler sa hauteur
  - poser 4 arrondis
  - poser les marges externes
  - mettre position: "relative" pour le placement de son enfant (i.e "c_button-choisir")
*/
.c_section-entrees__article,
.c_section-plats__article,
.c_section-desserts__article {
  background-color: var(--couleur_fond_primaire);
  height: 75px;
  /* 495px - 420px */
  border-radius: 20px;
  margin: 15px 15px 0 15px;
  /* H D B G */

  position: relative;
}

/* Concernant les Articles des sections "ENTREES", "PLATS", "DESSERTS", pour chaque titre <h4>:
    - tailler la police
    - poser 1 marge interne Haut de 10px (pour faire "descendre" <h4>)
    - poser 1 marge externe Gauche de 15px
    - poser une marge externe Bas de 20px (pour faire "monter" les éléments du dessous i.e <p> & le prix) 
*/
.c_section-entrees__article h4,
.c_section-plats__article h4,
.c_section-desserts__article h4 {

  /* MEN0909_debut:  Retailler la 1ère phrase */
  font-size: 18px;
  /* 22px; */
  /* 16px; */
  /* MEN0909_fin */

  /* MEN0909_debut: Réduire l'espace entre les deux lignes */
  /* padding-top: 10px; */
  margin-left: 15px;
  margin-top: 15px;
  /* margin-bottom: 20px; */
  /* MEN0909_fin */
}

/*  Concernant les Articles des sections "ENTREES", "PLATS", "DESSERTS", pour chaque Description (i.e <p> & button): 
    - mettre ses enfants en Ligne & aux extrémités
*/
.c_section-entrees__article__div-description,
.c_section-plats__article__div-description,
.c_section-desserts__article__div-description {
  display: flex;
  justify-content: space-between;
  margin: -30px 20px 0 15px;
  /* haut | droit | bas | gauche */
}

/* pour chaque 1er <p>: 
  - mettre la couleur en GRIS sombre 
  - retailler la police
*/
/* MEN0909_debut la 2eme phrase a une couleur grise et pas noir */
.c_section-entrees__article__div-description p:nth-child(1),
.c_section-plats__article__div-description p:nth-child(1),
.c_section-desserts__article__div-description p:nth-child(1) {
  color: #8F8F8F;
  font-size: 15px;
}

/* MEN0909_fin */

/* Centrer le bouton "Commander" & Retailler sa Largeur
cf. https://www.alsacreations.com/article/lire/539-Centrer-les-elements-ou-un-site-web-en-CSS.html
- poser un "position: absolute" en rapport à son Père (i.e "c_section-menu")
*/
.c_button-explorer-ou-commander--placer {
  padding: 20px 50px;
  /* Vertical Horizontal */

  position: absolute;
  /* postulat de départ */
  top: 92%;
  left: 50%;
  /* à 50%, 50% du parent référent */
  transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
}


/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------- (ANIMATIONS) ---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* "Loading spinner" ----------------------------------------------------------------------------------- */

/* "c_page--colorer-fond c_page--animation-fond-opaque-a-transparent" ---------- */

/* On crée 1 page Blanche: 
  - on met la position à fixed : l'élément à "fixed", reste fixe i.e ne bouge pas quand défile l'écran,
      (le point d'origine est coin haut gauche de la zone de contenu de la fenêtre)
  - on met le top & left à 0
  - on taille la Largeur & la Hauteur à 100% (pour couvrir toute la page html)
  - on met le Fond en Blanc
  - on met le z-index à 100, de sorte à mettre le Fond Blanc en 1ère position du calque
 */
.c_page--colorer-fond {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--couleur_fond_primaire);
  /* Blanc */
  z-index: 100;
  /* L'élément ayant la plus grande valeur de z-index est au-dessus */
}

/* on applique une animation "kf_fond-opaque-a-transparent", consistant à mettre le Fond Transparent (à l'étape finale)
 */
.c_page--animation-fond-opaque-a-transparent {
  animation: kf_fond-opaque-a-transparent 1s;
  /* MEN0923 4s; */
  animation-fill-mode: forwards;
  /* on garde les valeurs calculées lors de la dernière étape de l'animation, i.e opacity: 0 */
  animation-delay: 1.5s;
  /* MEN0923 2s; */
  /* différer le départ de la durée voulue */
}

/* A la fin de "c_loading-spinner--animation": 
    - à l'étape finale: mettre le Fond Transparent
*/
@keyframes kf_fond-opaque-a-transparent {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* "c_loading-spinner--cercle c_loading-spinner--placer-milieu c_loading-spinner--animation" ------- */

/* on style le "loading spinner":
  - on crée 1 Cercle de diamètre 50px
  - sur le cercle, on crée 4 bordures (avec pour chaque Bordure une couleur de la charte graphique) 
*/
.c_loading-spinner--cercle {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  border-top: 10px solid var(--couleur_primaire);
  border-right: 10px solid var(--couleur_secondaire);
  border-bottom: 10px solid var(--couleur_tertiaire);
  border-left: 10px solid var(--couleur_fond_secondaire);
}

/* on place le "loading spinner" au milieu de la page:
  - poser un "position: absolute" en rapport à son Père (i.e "c_page--colorer-fond")
  - (avec top right bottom left à 0), on le place dans le coin supérieur gauche de la page
  - (avec margin: auto), on le place au milieu de la page (=> même si on scroll la barre verticale, sa position au milieu de la page est maintenue)
  */
.c_loading-spinner--placer-milieu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* on applique 1 animation "kf_rotate": 
    - on fait tourner le cercle (dans le sens des aiguilles d'une montre)
    - pendant 1 seconde à vitesse constante
*/
.c_loading-spinner--animation {
  animation: kf_rotate 1s linear;
  /* linear : entre 2 valeurs de keyframes, l’animation aura une vitesse constante du début à la fin */
  animation-iteration-count: 3;
}

/* on applique 1 Rotation de + 360° (+: sens des aiguilles d'une montre) */
@keyframes kf_rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(+360deg);
  }
}

/* Bouton "coeur" -------------------------------------------------------------------------------------- */
/* on style le bouton "coeur":
  - on met le Fond "transparent"
  - on taille sa Largeur & sa Hauteur (pour délimiter la zone cliquable)
  - on met le curseur en forme de "main"
  - on ote la bordure
  - on met position: "relative" pour le placement de ses enfants (i.e "c_coeur-vide" & "c_coeur-plein")
*/
.c_button-coeur {
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  position: relative;
}

/* Pour le coeur-vide: 
  - on met position: "absolute" pour le placer par rapport à son Père (i.e "c_button-coeur")
  - on le place à 0px Bas & 0px Gauche
*/
.c_coeur-vide {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Pour le coeur-plein : 
  - on met position: "absolute" pour le placer par rapport à son Père (i.e "c_button-coeur")
  - on le place à la pointe basse du coeur
  - on met son Fond en dégradé : --couleur_secondaire (i.e Rose) puis --couleur_primaire (i.e Violet) en Haut
  - on met sa taille à la moitié du coeur vide (i.e 16px)
  - on ote le contour externe cf. https://openclassrooms.com/forum/sujet/linear-gradient-sur-icone-font-awesome
  - on le rend invisible (via opacity: 0)
*/

.c_coeur-plein {
  position: absolute;
  bottom: 0;
  left: 5px;

  background: linear-gradient(to top, var(--couleur_secondaire), var(--couleur_primaire));
  font-size: 16px;

  /* on ote le contour externe */
  -webkit-background-clip: text;
  /* NB: - Au validateur, on a un Warning "La propriété -webkit-background-clip est une extension propriétaire" 
        - https://caniuse.com/?search=-webkit-background-clip mentionne que cette propriété est OK sur FireFox & Chrome (dernière version)
  */
  color: transparent;

  opacity: 0;
}

/* Au clic sur le bouton "coeur": on style le coeur plein, i.e :
  - on le rend visible (via opacity: 1)
  - on double sa taille (via font-size: 2em)
  - on le place aux coordonnées du coeur vide (i.e. bottom:0;  left: 0;)
  - durée de l'animation: 3s
*/
.c_button-coeur:hover .c_coeur-plein {
  opacity: 1;
  font-size: 2em;
  bottom: 0;
  left: 0;
  transition-duration: 3s;
}

/* Animation du MENU (Entrées, Plats, Desserts) ------------------------------------------------ */

/* Pour chaque Article du menu: 
  - on applique l'animation "kf_menu-elements"
  - pour une durée de 5s
  - dans un délai différé de 1s
*/
.c_menu__article--animation {
  animation-name: kf_menu-elements;
  animation-duration: 3s;
  /* MEN0923 5s; */
  animation-fill-mode: backwards;
  /* on garde les valeurs calculées lors de la 1ère étape de "kf_menu-elements" */
  /* backwards : applique les propriétés CSS de la première image clé (0% ou from), même s'il y a un délai d'attente (animation-delay) */
  animation-delay: 0.5s;
  /* MEN0923 1s; */
  /* définit la durée d'attente avant de démarrer l'animation */
}

/* Pour chaque élément du menu: 
    - étape initiale: le rendre invisible & le translater du haut vers le bas de 50px  
    - étape finale: le rendre visible & le placer à sa position Y initiale
*/
@keyframes kf_menu-elements {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MEN0923 : Plats – Apparition : faire un décalage entre les entrées - plats - desserts
*/
.c_section-entrees__article {
  animation-delay: 0.5s;
}

.c_section-plats__article {
  animation-delay: 1.5s;
}

.c_section-desserts__article {
  animation-delay: 2.5s;
}

/* MEN0923 fin */

/* Animation du bouton "c_button-choisir" -------------------------------------------------------------------------------- */

/* Pour le bouton "c_button-choisir": 
  - mettre le fond en Vert
  - tailler sa Largeur & sa Hauteur
  - poser 2 arrondis à droite (Haut & Bas)
  - oter la bordure
  - poser un "position: absolute" en rapport à son Père (i.e "c_section-...__article" où "..."= "entrees" ou "plats" ou "desserts")
  - par rapport à son Père (i.e "c_section-...__article"): poser un top à 0 & un right à -60px pour le placer juste à droite de l'Article
  - mettre le curseur sous forme d'une "main" (cf. maquette fournie)
*/
.c_button-choisir {
  opacity: 1;
  /* 0; */
  background-color: var(--couleur_tertiaire);
  width: 60px;
  /* 365px - 305px */
  height: 75px;
  border-radius: 0 20px 20px 0;
  /* H D B G */
  border: none;

  position: absolute;
  top: 0;
  right: -60px;

  cursor: pointer;
}

/* Pour le Picto "fa-check-circle": 
  - mettre le fond du cercle en Blanc 
  - appliquer 1 Rotation de 0 degre (étape initiale pour bien placer la coche)
  - appliquer 1 "transition-duration de 5s" pour ralentir la Rotation de la coche
*/
.fa-check-circle {
  color: var(--couleur_fond_primaire);
  font-size: 20px;
  transform: rotate(0deg);
  transition-duration: 1s;
  /* MEN0923 5s; */
}

/* Pour chaque <Article> du menu, au survol de la souris sur l'article: 
  - placer le "c_button-choisir" à Droite de 0px par rapport à son Père (i.e le <article>)
  - appliquer 1 "transition-duration de 3s" pour ralentir le déplacement du bouton "choisir"
*/
.c_section-entrees__article:hover .c_button-choisir,
.c_section-plats__article:hover .c_button-choisir,
.c_section-desserts__article:hover .c_button-choisir {
  right: 0;
  transition-duration: 1s;
  /* MEN0923 5s; */
  opacity: 1;
}

/* Pour chaque <Article> du menu, au survol de la souris sur l'article: 
  - appliquer 1 rotation pour le "fa-check-circle" (+360° sens des aiguilles d'une montre) de sorte à avoir la coche bien placée (état initial)
*/
.c_section-entrees__article:hover .fa-check-circle,
.c_section-plats__article:hover .fa-check-circle,
.c_section-desserts__article:hover .fa-check-circle {
  /* opacity:1; */
  transform: rotate(+360deg);
}

/* Pour chaque <Article> du menu, au survol de la souris sur l'article: 
  - décaler le prix (enveloppé dans <strong>) de 65px vers la gauche
  - appliquer 1 "transition-duration de 3s" pour ralentir le "déplacement du prix"
*/
.c_section-entrees__article:hover strong,
.c_section-plats__article:hover strong,
.c_section-desserts__article:hover strong {
  padding-right: 65px;
  /* MEN0923 transition-duration: 3s; 
  "le check doit pousser le prix" */
  transition-duration: 1s;
  /* MEN0923 fin */
}

/* MEN0923 */
/* Cacher le bouton "c_button-choisir":
  <=> appliquer "overflow: hidden" sur son Père */
.c_section-entrees__article,
.c_section-plats__article,
.c_section-desserts__article {
  overflow: hidden;
}

/* MEN0923 fin */

/* Pour chaque <Article> du menu, au survol de la souris sur l'article: 
    Mettre le curseur sous forme d'une "main" 
 cf. vidéo fournie   
*/
.c_section-entrees__article:hover,
.c_section-plats__article:hover,
.c_section-desserts__article:hover {
  cursor: pointer;
}

/* MEN0923 fin */

/* MEN0923 */
/* Pour chaque 1er <p> de "c_section-i__article__div-description" où "i"= "entrees", "plats", "desserts" 
  tronquer le texte avec "..."
*/
.c_section-entrees__article__div-description p:nth-child(1),
.c_section-plats__article__div-description p:nth-child(1),
.c_section-desserts__article__div-description p:nth-child(1) {
  /*  "ellipsis" pour ajouter des points de suspensions "..." à la fin du texte tronqué */
  text-overflow: ellipsis;
  /* interdire le texte de sortir du conteneur */
  overflow: hidden;
  /* interdire le texte de se mettre sur plusieurs lignes */
  white-space: nowrap;
}

/* MEN0923 fin */

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------- (MEDIAQUERIES) -------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* NB : Les breakpoints non précisés dans le Cahier des Charges => Hypothèse : pris ceux du Projet2 */

/* @media TABLETTE ------------------------------------------------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {

  /* --------------------------------------------------------------------------------------------- */
  /* ------ Page ACCUEIL index.html -------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------- */

  /* Concernant la section "Présentation": réduire sa marge interne Bas */
  .c_section-presentation {
    padding-bottom: 0;
  }

  /* <section> "Fonctionnement" ----------------------------------------------------------- */

  /* Centrer son titre */
  .c_section-fonctionnement h2 {
    text-align: center;
  }

  /* placer ses enfants (de space-between à space-arround) i.e avec des marges aux extrémités */
  .c_section-fonctionnement ol {
    justify-content: space-around;
    /* background-color: green; TEST */
  }

  /* Pour chaque <li>: 
    - réduire sa Largeur à 75% 
    - tailler sa font  
  */
  .c_section-fonctionnement ol li {
    width: 75%;
    font-size: 20px;
  }

  /* Pour chaque <li> (i.e Picto & libellé): tailler sa Largeur à 75% */
  .c_section-fonctionnement ol li a {
    width: 75%;
  }

  /* MEN0923_RWD : aligner chaque libellé par rapport au <h2>Fonctionnement</h2> */

  /* aligner chaque libellé par rapport au <h2>Fonctionnement</h2> */
  .c_section-fonctionnement__span-choisissez {
    /* background-color: pink; */
    margin-right: -25px;
  }

  .c_section-fonctionnement__span-composez {
    margin-right: -5px;
  }

  .c_section-fonctionnement__span-degustez {
    margin-right: -10px;
  }

  /* MEN0923 fin */

  /* <section> "Restaurants" ---------------------------------------------------------------- */

  /* Centrer son titre */
  .c_section-restaurants h2 {
    text-align: center;
  }

  /* Pour chaque Article: réduire sa Largeur à 75% & centrer */
  .c_section-restaurants__article {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  /* <footer> --------------------------------------------------------------------------------- */
  /* Concernant le <footer>: centrer son titre */
  footer h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 135px;
  }

  /* Concernant le <footer>: 
  - placer ses enfants en Ligne & aux extrémités 
  - tailler leur font
  */
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
  }

  /* Poser une marge externe de 15px */
  footer address {
    margin-right: 15px;
    /* background-color: red; */
  }

  /* --------------------------------------------------------------------------------------------- */
  /* ------ Pages MENU --------------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------- */

}

/* fin @media TABLETTE ------------------------------------------------------------------------------------------- */

/* @media ORDINATEUR --------------------------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {

  body {
    max-width: 1920px;
    /* Largeur de mon écran PC : 1920px */
    margin-left: auto;
    margin-right: auto;
  }

  /* --------------------------------------------------------------------------------------------- */
  /* ------ Page ACCUEIL index.html -------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------- */

  /* Concernant la section "Présentation": réduire sa marge interne Bas */
  .c_section-presentation {
    padding-bottom: 0;
  }

  /* Placer les <section> "fonctionnement" & "restaurants": 
    - en ligne & aux extrémités
    - avec 1 marge externe Gauche & Droite de 20px 
  */
  .div-fonctionnement-et-restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    /* color: red; */
  }

  /* <section> "Fonctionnement" ----------------------------------------------------------- */

  /* Pour la section "fonctionnement": 
  - tailler sa Largeur & sa Hauteur
  - mettre le fond en Gris
  - mettre 4 arrondis
  */
  .c_section-fonctionnement {
    width: 38%;
    height: 480px;
    background-color: var(--couleur_fond_primaire);
    border-radius: 20px;
  }

  /* Pour la section "fonctionnement": centrer son Titre */
  .c_section-fonctionnement h2 {
    text-align: center;
  }

  /* - Placer ses enfants aux extrémités
   - Tailler sa Hauteur
   - poser 1 marge externe haute de 20px
  */
  .c_section-fonctionnement ol {
    justify-content: space-around;
    height: 80%;
    margin-top: 20px;
    /* background-color: green; */
  }

  /* Pour chaque <li> (i.e Picto & Libellé): 
  - tailler sa Largeur 
  - mettre le fond en Blanc
  - tailler la Font
  - interdire le texte de se mettre sur plusieurs lignes
  */
  .c_section-fonctionnement ol li {
    width: 90%;
    background-color: var(--couleur_fond_primaire);
    font-size: 20px;
    white-space: nowrap;
  }

  /* <section> "Restaurants" ---------------------------------------------------------------- */
  /* Pour la section "Restaurants":  
    - tailler sa Largeur
    - poser 1 marge externe Haute de 55px
    - tailler sa Hauteur
    - poser 4 arrondis
    - mettre 1 marge interne Bas à 0
    - placer ses enfants (i.e "c_section-restaurants__div-duo-haut" & "c_section-restaurants__div-duo-bas" ) en Ligne
  */
  .c_section-restaurants {
    width: 60%;
    margin-top: 55px;
    height: 450px;
    border-radius: 20px;
    padding-bottom: 0;
  }

  /* - Placer ses enfants (i.e "c_section-restaurants__article") en Ligne
     - tailler leur hauteur
  */
  .c_section-restaurants__div-duo-haut,
  .c_section-restaurants__div-duo-bas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
  }

  /* Centrer son Titre <h2> */
  .c_section-restaurants h2 {
    text-align: center;
    margin-top: -10px;
  }

  /* Pour chaque Article: 
  - tailler sa Largeur & sa Hauteur
  - mettre le fond en blanc
  */
  .c_section-restaurants__article {
    width: 100%;
    height: 85%;
    background-color: var(--couleur_fond_primaire);
  }

  /* Pour chaque image: tailler la hauteur */
  .c_section-restaurants__article img {
    height: 100px;
  }

  /* <footer> --------------------------------------------------------------------------------- */
  /* Concernant le <footer>: centrer son titre */
  footer h2 {
    display: block;
    margin: auto;
    width: 100px;
    /* 125px - 25px */
    margin-bottom: 40px;
  }

  /* Concernant le <footer>: 
  - placer ses enfants en Ligne & aux extrémités 
  - tailler leur font
  */
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
  }

  /* Concernant le <footer>: centrer son titre */
  footer h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 135px;
  }

  /* --------------------------------------------------------------------------------------------- */
  /* ------ Pages MENU --------------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------- */

  /* Pour l'image du restaurant:
    - poser une marge externe Haute de 10px
    - tailler sa Hauteur
  */
  .c_img-menu {
    margin-top: 10px;
    height: 480px;
  }

  /* Pour la section "menu": 
    - tailler sa Largeur
    - centrer
    - poser une marge externe Haute de 450px
  */
  .c_section-menu {
    width: 90%;
    margin: auto;
    margin-top: 450px;
  }

  /* Pour le <h2> i.e nom du restaurant: 
    - tailler sa Font
    - le centrer
    - poser une marge interne Haute de 30px 
  */
  .c_section-menu h2 {
    font-size: 32px;
    margin: auto;
    padding-top: 30px;
  }

  /* Pour le bouton "coeur": mettre un Top à 15px, pour le placer à 15px par rapport à son Père i.e "c_section-menu" */
  .c_section-menu .c_button-coeur {
    /* color: red; */
    top: 15px;
  }

  /* Pour chaque <h3> parmi ENTREES, PLATS, ou DESSERTS: 
    - tailler sa font
    - poser une marge externe Gauche de 16%, pour s'aligner par rapport aux <article>
  */
  .c_section-entrees h3,
  .c_section-plats h3,
  .c_section-desserts h3 {
    font-size: 20px;
    margin-left: 16%;
  }

  /* Pour chaque <article>: 
    - tailler sa Largeur
    - tailler sa Hauteur
    - le centrer
    - poser une marge interne Bas de 10px
  */
  .c_section-entrees__article,
  .c_section-plats__article,
  .c_section-desserts__article {
    width: 70%;
    height: 70px;
    margin: auto;
    margin-bottom: 10px;
  }

  /* Concernant chaque <article>, pour son titre <h4>: 
    - tailler sa font
    - poser un espacement vertical
  */
  .c_section-entrees__article h4,
  .c_section-plats__article h4,
  .c_section-desserts__article h4 {
    font-size: 20px;
    line-height: 0.5;
    /* color: red; */
  }

  /* Concernant chaque <article>, pour son 1er <p>: tailler sa font */
  .c_section-entrees__article p:nth-child(1),
  .c_section-plats__article p:nth-child(1),
  .c_section-desserts__article p:nth-child(1) {
    font-size: 16px;
    /* color: green; */
  }

  /* Concernant chaque <article>, pour son 2eme <p> (i.e le prix): 
    - tailler sa font
    - poser un espacement vertical
  */
  .c_section-entrees__article p:nth-child(2),
  .c_section-plats__article p:nth-child(2),
  .c_section-desserts__article p:nth-child(2) {
    font-size: 20px;
    line-height: 0.5;
  }

}

/* fin @media ORDINATEUR ----------------------------------------------------------------------------------------- */